.MessagePage {
  display: flex;
  height: var(--message-page-height);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.MessageInfoContainer {
  /* flex-basis: 634px; */
  flex-basis: calc(45vw);
  border-left: 1.25px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.ContactContainer {
  flex-grow: 1;
  /* width: calc(935px - 634px); */
  width: calc(70vw - 45vw);
}